@import "../variables";

.book-card {
  background-color: $secondary-color;
  color: $text-color;
  border-radius: $card-radius;
  box-shadow: $box-shadow;
  padding: 1.5rem;
  margin: 1rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: $card-radius;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.2rem;
    font-family: $font-title;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1rem;

    line-height: 1.5;
    font-family: $font-main;
  }

  button {
    margin-top: 0.5rem;
    background-color: $primary-color;
    font-weight: bold;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

    &:hover {
      background-color: darken($primary-color, 10%);
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  form {
    width: 100%;
    margin-top: 1rem;
    text-align: left;

    h4 {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    label {
      display: block;
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }

    input,
    textarea {
      width: 100%;
      border-radius: 8px;
      border: 1px solid $input-border;
      font-family: $font-main;
      background-color: #fff;
      font-size: 0.95rem;
    }

    textarea {
      resize: vertical;
      min-height: 80px;
    }

    button[type="submit"] {
      display: block;
      margin-top: 1rem;
      width: 100%;
    }
  }
}

.already-read {
  margin-top: 0.8rem;
  font-style: italic;
  font-size: 0.9rem;
}

.no-cover {
  background-color: $primary-color;
  color: white;
  padding: 2rem;
  font-weight: bold;
  border-radius: $card-radius;
  margin-bottom: 1rem;
}

.star-rating {
  display: flex;
  gap: 5px;
  margin-top: 0.3rem;
  cursor: pointer;
  font-size: 1.5rem;

  span {
    color: #ccc;
    transition: color 0.2s ease;

    &.filled {
      color: #ffc107;
    }

    &:hover,
    &:hover ~ span {
      color: #ffd966;
    }
  }
}

@media (max-width: 600px) {
  .book-card {
    margin: 1rem 0.5rem;
    padding: 1rem;

    h3 {
      font-size: 1.1rem;
    }

    p {
      font-size: 0.9rem;
    }

    form {
      h4 {
        font-size: 1rem;
        padding: 0.5rem 0;
      }

      input,
      textarea {
        font-size: 0.9rem;
      }
    }
  }

  .star-rating {
    font-size: 1.3rem;
  }
}
