@import "../variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  padding: 1rem 2rem;
  color: $text-color;
  position: sticky;
  top: 0;
  z-index: 1000;

  h1 {
    font-family: "Poppins", serif;
    font-size: 1.5rem;
    color: $secondary-color;
    letter-spacing: 1px;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;

    li a {
      color: $text-color;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s ease;

      &.active {
        border-bottom: 2px solid $secondary-color;
      }

      &:hover {
        color: $secondary-color;
      }
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;

    div {
      width: 25px;
      height: 3px;
      background-color: $text-color;
      border-radius: 2px;
    }
  }

  //MobilAnpassad

  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }

    ul {
      display: none;
      flex-direction: column;
      gap: 1rem;
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: rgba(91, 74, 63, 0.95);
      padding: 1rem;
      border-radius: 8px;
      width: 200px;

      li {
        text-align: center;
      }
    }

    &.active ul {
      display: flex;
    }

    ul {
      text-align: center;

      li a {
        font-size: 1rem;
        padding: 0.5rem 0;
        display: block;
      }
    }
  }
}
