@import "../variables";

.home-background {
  background-image: url("https://img.freepik.com/free-photo/beautiful-landscape-sea-ocean-leisure-travel-vacation_74190-8013.jpg?t=st=1745955208~exp=1745958808~hmac=b4de2df453a4419784b72ca11abc47dd27e7586cc8180c1f637536d48cf48759&w=1380");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  background-color: $white-overlay;
  align-items: center;
  padding: 3rem;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  max-width: 1000px;
  width: 90%;
  box-shadow: $box-shadow;

  .home-left {
    flex: 1;
    text-align: left;
  }

  h1 {
    font-size: 2.5rem;
    color: $text-color;
    margin-bottom: 1rem;

    .highlight {
      color: $primary-color;
    }
  }

  p {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    color: $text-color;
  }

  .start-button {
    background-color: $primary-color;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: darken($primary-color, 10%);
      transform: translateY(-2px);
    }
  }
}

.stats-box {
  flex: 0 0 250px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .home-content {
    flex-direction: column;
    padding: 2rem;
    text-align: center;

    .home-left {
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }

      .start-button {
        width: 100%;
      }
    }

    .stats-box {
      margin-top: 2rem;
      width: 100%;
    }
  }
}
