// min färgpalett

$color-dark-brown: #5b4a3f;
$color-blue: #467cb5;
$color-orange: #fecf91;
$color-pink: #ecb9b6;
$color-beige: #f8d9a8;
$white-overlay: rgba(255, 255, 255, 0.85);
$input-border: #ccc;

$font-title: "Arial", sans-serif;
$font-main: "Segoe UI", sans-serif;

$text-color: $color-dark-brown;
$primary-color: $color-blue;
$secondary-color: $color-orange;
$background-color: $color-beige;

$card-radius: 12px;
$box-shadow: 0 4px 8px rgba (0, 0, 0, 0.1);
