@import "./variables";
@import "./mixins";

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: visible !important;
}

//Globala stilar
:root {
  --font-main: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --text-color: #222;
}

body {
  background-image: url("https://img.freepik.com/free-photo/beautiful-landscape-sea-ocean-leisure-travel-vacation_74190-8013.jpg?t=st=1745955208~exp=1745958808~hmac=b4de2df453a4419784b72ca11abc47dd27e7586cc8180c1f637536d48cf48759&w=1380");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: $font-main;
  color: $text-color;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.fade_in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
