// min färgpalett

$color-brown: #5b4a3f;
$color-blue: #467cb5;
$color-orange: #fecf91;
$color-pink: #ecb9b6;
$color-beige: #f8d9a8;

$text-color: $color-brown;
$primary-color: $color-blue;
$secondary-color: $color-orange;
$accent-color: $color-orange;
$background-color: $color-beige;

$font-main: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
